<h1>Order Details</h1>

<table class="table">
  <thead class="thead-dark">
  <tr>
  <th scope="col">Person   </th>
  <th scope="col">Item_Name</th>
  <th scope="col">Amount   </th>
  <th scope="col">Price    </th>
  <th scope="col">Comment  </th>
  <th scope="col">Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= render @order.items %> </td>
  </tr>
  
  </tbody>
</table>

<h2>Add Item:</h2>
<%= render 'items/form' %>

