/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/* Notification drop down */


.form-divs{
    
  margin-bottom: 4%;
}
#fiendsearch,#groupsearch{
    margin: 0px 16px;
}

  /* custom button design */
.btn-outline-purple {
    color: #312141;
    border-color: #312141;
}

.btn-outline-purple:hover {
    background-color: #312141;
    color: white;
}
.addorderheader{
    text-align: center;
      background-color: rgb(218 209 228 / 35%);
      font-size: 40px;
      font-weight: bold;
      font-family: -webkit-pictograph;
      color: #312141;
}

.listorderheader,.listFriendsheader,.listgroupsheader{
    text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: -webkit-pictograph;
      color: #312141;
}
.addordercontainer{
    border-radius: 15px;
       border: 1px #dad1e4 solid !important; 
      /* margin: 2%; */
      padding: 0;
      text-align: left;
}
.btn-purple{
    margin: 4% 7% 0% 35%;
    background-color: #312141;
    color: white;
    border-color: #312141 !important; 
}

.btn-purple:hover{
    background-color: #1e1429;
    color: white;
    border-color: #1e1429; 
}